:root {
	--background: #1D232A;
	--cabecalho: #15191C;
	--cabecalho-desktop: #1D232A;
	--menu-lateral: #15191C;
	--font: #FFFFFF;


	--turquesa: #00b3be;
	--link: #0480DC;
	--botao: #0480DC;
	--cartao: #2C343A;
	--info: #95999C;
}
