*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}
  
body {
    background-color: var(--background);
    font-family: 'Open Sans', 'icones', sans-serif;
    color: var(--font);
}
  
@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

main {
    padding: 64px 16px;
    display: grid;
    gap: 16px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.cartao {
    width: 100%;
    border-radius: 30px;
    background-color: var(--cartao);
    overflow: hidden;
}

.cartao__imagem {
    pointer-events: none;
}

.cartao__imagem--mobile {
    max-height: 540px;
}

.cartao__imagem--desktop {
    display: none;
}

.cartao__conteudo {
    padding: 16px;
    display: grid;
    font-size: 1em;
    grid-template-columns: auto auto 1fr;
    gap: 8px 32px;
}

.cartao__anuncio {
    grid-column: span 3;
}

.cartao__titulo {
    font-size: 1.1em;
    font-weight: 700;
    grid-column: span 3;
}

.cartao__autor {
    color: var(--info);
    font-size: 0.9em;
    grid-column: span 3;
}

.cartao__autor::before {
    content: "Autor:";
    font-weight: bold;
    margin-right: 10px;
}

.cartao__info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--info);
}

.cartao__info--texto{
    display: none;
}

.cartao__icone{
    margin-right: 8px;
    font-size: 0.9em;
}

.cartao__info--curtidas{
    grid-row: 5;
}

@media screen and (min-width: 370px) {
    .cartao__info--texto{
        margin-left: 4px;
        display: block;
    }
}

.cartao__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--botao);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
    transition: 0.25s ease-in-out;
}

.cartao__botao::before {
    content: "\e90b";
    font-size: 24px;
    margin: 0px 4px 0 4px;
}

.cartao__botao--destaque {
    width: 100%;
    grid-column: span 3;
}

.cartao__botao:hover{
    cursor: pointer;
    background-color: var(--turquesa);
    transition: 0.25s ease-in-out;
}

@media screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "titulo-pagina titulo-pagina titulo-pagina"
            "destaque destaque recentes"
            "carrossel-videos carrossel-videos carrossel-videos";
        column-gap: 32px;
        padding: 96px 32px 0px 232px;
        grid-column: 2;
    }

    h1 {
        grid-column: span 3;
    }

    h2 {
        grid-column: span 3;
    }

    .cartao {
        margin-bottom: 0px;
    }

    .cartao--destaque {
        grid-column: span 2;
    }

    .cartao__imagem--mobile {
        display: none;
    }

    .cartao__imagem--desktop {
        max-height: 450px;
        display: block;
    }
}

.cartao--recentes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cartao--recentes {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        width: 214px;
        row-gap: 24px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
        grid-area: recentes;
    }

    .cartao__link {
        font-size: 0.8rem;
        font-weight: 600;
        color: #0480DC;
        justify-self: flex-end;
    }

    .cartao__lista {
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .cartao__item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
    }

    .cartao__item:hover{
        cursor: pointer;
    }

    .cartao__item-thumbnail {
        width: 32px;
        grid-row: span 2;
        align-self: center;
    }
  
    .cartao__item-titulo {
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }
  
    .cartao__item-autor {
        font-size: 0.8rem;
        color: var(--info);
    }
}
  
.videos__container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "title progress"
        "slider slider";
    overflow: hidden;
    margin:16px 0 32px 0;
    justify-content: center;
    align-items: center;
}

.h2--slider{
    grid-area: title;
    width: 200px;
}

.progress__bar{
    display: flex;
    align-items: center;
    justify-self: center;
    width: 60px;
    margin-top: 34px;
    margin-bottom: -10px;
    margin-left: -200px;
    justify-content: space-between;
}

.progress {
    background-color: var(--font);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    display: inline-block;
}

.progress__bar .active{
    background-color: var(--botao);
    transform: scale(1.3);
}

.slider {
    grid-area: slider;
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    margin-top: 16px;
    padding-bottom: 3px;
}

.slider::-webkit-scrollbar {
    height: 0.9em;
}

.slider::-webkit-scrollbar-track {
    background: var(--background); 
    border-radius: 100vw;
}

.slider::-webkit-scrollbar-thumb {
    background: var(--botao);
    border: 0.3em solid var(--background);
    border-radius: 100vw;
}

.slider.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.cartao--carrossel{
    flex-shrink: 0;
    width: calc(100%);
    scroll-snap-align: start;
}

.cartao__conteudo--carrossel {
    padding: 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8px 32px;
}

.cartao__info--carrossel {
    display: flex;
    grid-column: 1;
    grid-column: span 2;
    justify-content: space-between;
}

.cartao__botao--carrossel {
    width: 100%;
    max-width: 100px;
    grid-column: 3;
    grid-row: 3;
}

.cartao__info--texto--carrossel{
    display: none;
}

@media screen and (min-width: 600px) {
    .cartao__info--texto--carrossel{
    margin-left: 4px;
    display: block;
    }
}

@media screen and (min-width: 1024px) {
    .slider{
        grid-column: span 3;
    }

    .cartao__imagem--carrossel {
        width: 100%;
        max-height: 400px;
    }

    .videos__container{
        grid-column: span 3;
    }

    .cartao--carrossel{
        width: calc(33.33% - 16px);
    }
  
    .cartao__info--texto--carrossel{
        display: none;
    }
}

@media screen and (min-width: 1768px) {
    .cartao__info--texto--carrossel{
        display: block;
    }
}
